<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*/parent\.html)" />
                    <action type="Rewrite" url="phxChatBot.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
